[libdefaults]
        default_realm = {{ krb5.default_realm|upper }}

[realms]
        {{ krb5.default_realm|upper }} = {
                kdc = {{ krb5.kdc_server }}
                admin_server = {{ krb5.admin_server }}
                default_domain = {{ krb5.default_realm|lower }}
        }

[domain_realm]
    {{ krb5.default_realm|lower }}  = {{ krb5.default_realm|upper }}
    .{{ krb5.default_realm|lower }} = {{ krb5.default_realm|upper }}

[logging]
kdc = SYSLOG:NOTICE
admin_server = SYSLOG:NOTICE
default = SYSLOG:NOTICE
