#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

#SIZELIMIT      12
#TIMELIMIT      15
#DEREF          never
TLS_REQCERT never

BASE {{ ldap.base }}
URI  {{ ldap.uri }}
sudoers_base   ou=SUDOers,dc=alexforsale,dc=site
