[sssd]
config_file_version = 2
domains = {{ krb5.default_realm }}
debug_level = 2
fallback_homedir = /home/%u
{% if ansible_os_family|lower == "archlinux" %}
services = nss, pam, sudo
{% endif %}

[domain/{{ krb5.default_realm }}]
debug_level = 3
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
cache_credentials = true
enumerate = true
ldap_uri = {{ ldap.uri }}
ldap_chpass_uri = {{ ldap.uri }}
ldap_schema = rfc2307
ldap_pwmodify_mode = exop
ldap_search_base = {{ ldap.base }}
ldap_service_search_base = ou=Services,{{ ldap.base }}
ldap_user_search_base = ou=People,{{ ldap.base }}
ldap_group_search_base = ou=Group,{{ ldap.base }}
ldap_tls_reqcert = never
ldap_default_bind_dn = cn=admin,{{ ldap.base }}
ldap_default_authtok_type = obfuscated_password
ldap_default_authtok = {{ sssd.authok }}
#ldap_id_use_start_tls = true
ldap_sudo_search_base = {{ ldap.sudoers_base }}
sudo_provider = ldap
